@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    margin: 0;
    background-color: rgb(208, 255, 239);
    font-family: 'Anton', sans-serif;
}

.main-game{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    position: absolute;
    border: 15px solid black;
    background-color: #ffffff;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.genius{
    display: grid;
    grid-template-areas: 'verde vermelho' 'amarelo azul';
    grid-gap: 10px;
    border: 30px solid black;
    background-color: black;
    border-radius: 100%;
    width: 500px;
    height: 500px;
}

.blue{
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
    border: 2px solid black;
}
.red{
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
    border: 2px solid black;
}

.yellow{
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
    border: 2px solid black;
}

.green{
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
    
}

.selected{
    opacity: 0.6;
}